{% set page = 'index' %}
{% extends 'base.html' %}


{% block content %}
                <h3>Назначение системы </h3>
                Система будет находить наиболее актуальные навыки для какой либо вакансии (hh api)
                <br/> <br/>
                <h3> Принцип работы системы </h3>
                Система будет получать данные по вакансиям используя заданные параметры (например город, название вакансии, …).
                После того как получены описания всех вакансий по заданным параметрам, система будет проводит следующий анализ:
                <br/>
                1. Сколько всего вакансий
                <br/>
                2. Средняя заработная плата
                <br/>
                3. Все требования к данному типу вакансий
                <br/>
                4. В скольких вакансиях указано данное требование (сортируем по убыванию)
{% endblock %}